.time {
  font-size: 2rem;
  font-weight: bold;
}

.temp {
  font-size: 2rem;
  font-weight: bold;
}

.humidity {
  display:block;
}

.relativehumidity {
  display:block;
}

.apparenttemp {
  display:block;
}

.cloudcover {
  display:block;
}

.windspeed {
  display:block;
}

.winddirection {
  display:block;
}

.windgusts {
  display:block;
}

.precip {
  display:block;
}

.weathercode {
  display:block;
}

.child {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.weatherdetails {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.weatherdetailschild {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weatherdetailschild2 {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
}